.my-dropdown {
    display: flex;
    flex-direction: column;
    max-height: 166px;
    flex-wrap: wrap;
    width: max-content !important;
}

.wrap-detail-movie {
    list-style: none;

}


.link-movie {
    font-size: 20px;
}